.wrapper {
  color: #ffffff;

  :global {
    .launchpad-token-avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      .inner {
        padding: 0;
      }
    }
  }

  :global {
    .liquidity-token-avatar {
      object-fit: cover;
      width: rem(25);
      height: rem(25);
      border-radius: 50%;
    }
  }
}

.boxProposalId {
  padding: 4px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  width: fit-content;
  font-size: rem(14);
  font-weight: 500;
}
