.wrapper {
  color: #FFFFFF;
  //padding-top: 48px;
  //padding-bottom: 48px;

  :global {
    .token-avatar {
      width: rem(80);
      height: rem(80);
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.boxProposalId {
  padding: 4px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  width: fit-content;
  font-size: rem(14);
  font-weight: 500;
}