.wrapper {
  color: #ffffff;
  //padding-top: 48px;
  //padding-bottom: 48px;

  :global {
    .launchpad-token-avatar {
      width: rem(80);
      height: rem(80);
      object-fit: cover;
      border-radius: 50%;
    }
    .top-grid {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'intro form';
      gap: rem(30);
      @media screen and (max-width: 768px) {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
          'form'
          'intro';
        gap: rem(30);
      }
    }
    .bottom-grid {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'usp statics';
      gap: rem(30);
      @media screen and (max-width: 768px) {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
          'statics'
          'usp';
        gap: rem(30);
        // grid-template-columns: 1fr;
        // grid-template-areas:
        //   'form'
        //   'intro';
        // gap: rem(30);
      }
    }
  }
}

.boxProposalId {
  padding: 4px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  width: fit-content;
  font-size: rem(14);
  font-weight: 500;
}

.boxTime {
  padding: 4px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  width: fit-content;
  font-size: rem(14);
}

.introWrapper {
  height: calc(100% - 140px) !important;

  @media screen and (max-width: 768px) {
    height: unset !important;
  }
}