.wrapper {
  width: 100%;
  background: #0F0F0F;
  padding-top: 48px;
  padding-bottom: 48px;

  .upload_title {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: white;
  }

  .introImg {
    border: 1px solid #5B5B5B;
    border-radius: 10px;
    margin: 24px 0;
  }

  .tabContainer {
    max-width: 800px;
    margin: 0 auto;
    :global {
      .chakra-tabs,
      .chakra-tabs__tab-panels,
      .chakra-tabs__tab-panel,
      .chakra-tabs__tab-panel > div,
      .chakra-table__container,
      .chakra-table {
        max-height: inherit;
      }
      .chakra-tabs,
      .chakra-table__container {
        height: 100%;
      }
      .chakra-table__container {
        overflow: auto;
      }
      .chakra-tabs__tab-panels {
        height: calc(100% - 53px);
      }
      .chakra-tabs__tab-panel {
        padding: 10px;
        padding-bottom: 0px;
        height: 100%;
        > div {
          height: 100%;
        }
      }
      .chakra-tabs__tablist {
        border: 1px solid #898989;
        border-radius: 100px;
        padding: 6px;
        button {
          font-size: 20px;
        }
      }
      .chakra-tabs__tab {
        color: rgba(255, 255, 255, 0.3);
        border-radius: 100px;
        height: 42px;
        &[aria-selected='true'] {
          background: #5B5B5B;
          color: #FFFFFF;
        }
      }
    }
  }
}