.wrapper {
  background: #0f0f0f;
  padding-top: 48px;
  padding-bottom: 48px;
  &.loadingContainer {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.tabContainer {
  :global {
    .chakra-tabs__tablist {
      border-bottom-color: #353945;
    }
    .chakra-tabs__tab {
      color: rgba(255, 255, 255, 0.4);
      font-weight: 400;
      font-size: rem(14);
      padding: rem(20);
      &[aria-selected='true'],
      &:focus-visible,
      &:active {
        color: #FFFFFF;
        box-shadow: none;
        background: none;
      }
    }

    .chakra-tabs__tab-panel {
      padding: 0;
    }
  }
}