.wrapper {
  background: #0F0F0F;
  padding-top: 48px;
  padding-bottom: 48px;
}

.tabContainer {
  :global {
    .chakra-tabs__tab {
      color: #898989;
      &[aria-selected="true"], &:focus-visible {
        color: #FFFFFF;
        box-shadow: none;
        background: none;
      }
    }

    .chakra-tabs__tab-panel {
      padding: 0;
    }
  }
}