.wrapper {
  background: #0f0f0f;
  padding-top: 48px;
  padding-bottom: 48px;
  &.loadingContainer {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.tabContainer {
  :global {
    .chakra-tabs__tablist {
      justify-content: center;
      border: 1px solid #353945;
      border-radius: 1000px;
      width: fit-content;
      margin: 40px auto;
      padding: 8px;
    }
    .chakra-tabs__tab {
      color: #FFFFFF;
      font-weight: 500;
      &[aria-selected='true'],
      &:focus-visible {
        color: #000000;
        background: #FFFFFF;
      }
    }

    .chakra-tabs__tab-panel {
      padding: 0;
    }
  }
}