.searchBarWrapper {
  .searchTitle {
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(30);
    letter-spacing: -0.02em;
    color: #1c1c1c;
    margin-bottom: rem(4);
  }

  .formWrapper {
    display: flex;
    align-items: center;
    gap: rem(12);
    margin-bottom: rem(32);

    @include max-tablet {
      flex-direction: column;
    }
  }

  .inputWrapper {
    position: relative;
    flex: 1;

    @include max-tablet {
      width: 100%;
    }
  }

  .input {
    padding-top: rem(12);
    padding-bottom: rem(12);
    padding-left: rem(18);
    padding-right: rem(48);
    border: 1px solid #cecece;
    border-radius: 40px;
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(26);
    color: #000000;
    height: rem(48);

    &:disabled {
      opacity: 1;
      color: #b6b6b6;
      background: #f2f2f2;
      border: 1px solid #cecece;
    }
  }

  .clearBtn {
    padding: rem(4);
    border-radius: 50%;
    position: absolute;
    right: rem(9);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;

    &:hover {
      background-color: #cecece;
    }
  }

  .submitBtn {
    width: rem(200);
    min-width: rem(100);
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(26);
    height: rem(48);
    background: #1588FF;

    @include max-tablet {
      width: 100%;
    }
  }
}
