.wrapper {
  width: 100%;
  background: #3385ff;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: rem(16);

  .banner {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    padding: 4px 8px;
  }

  .checkItOut {
    color: #ffffff;
    display: inline;
    &:hover {
      text-decoration: none;
    }
  }

  &.active {
    background: #1e1e22;

    .banner {
      background: rgba(255, 126, 33, 0.2);
      border-radius: 100px;
      padding: 4px 8px;
    }

    .checkItOut {
      color: #ff7e21;
      display: inline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    text-align: center;
    padding: rem(2) rem(8);
    &.active {
      background: transparent;
    }
  }
}
