.wrapper {
  color: #FFFFFF;
}

.modalContent {
  min-width: 40vw !important;
  :global {
    .modal-header-wrap {
      margin-bottom: 0;
    }
    .chakra-modal__body {
      //padding: 0;
    }
  }
}