.bodyContainer {
  flex: 1;
  > div {
    padding-left: 25px;
    padding-right: 25px;
    // max-width: 1366px;
    margin: auto;
    height: 100%;
    @media screen and (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    :global {
      .max-content {
        max-width: 1366px;
        margin: 0 auto;
      }
    }
  }
}
